body {
  margin: 0;
  display: flex;
  border: 0;
  height: 100vh;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center;
   */
  display: flex;
  flex-direction: column;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background-color: black;
}

.place-list {
}

header h1 {
  margin: 0;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* padding: 20px; */
}

.bright {
  justify-self: center;
}

.place,
.things {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
  padding: 20px;
}

.place h2 {
  /* display: inline-block; */
}
.place .add {
  padding: 20px;
}

.place .add.btn {
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.place-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-rows: 100px; */
  align-items: center;
  justify-self: center;
  gap: 20px;
  padding: 20px;
}

body {
  margin: 0;
  display: flex;
  border: 0;
  height: 100vh;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center;
   */
  display: flex;
  flex-direction: column;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background-color: black;
}

.place-list {
}

header h1 {
  margin: 0;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* padding: 20px; */
}

.bright {
  justify-self: center;
}

.place {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
  padding: 20px;
}

.place h2 {
  /* display: inline-block; */
}
.place .add {
  padding: 20px;
}

.place .add.btn {
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.place-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-rows: 100px; */
  align-items: center;
  justify-self: center;
  gap: 20px;
  padding: 20px;
}

.place-card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  padding-left: 10px;
  width: 250px;
  height: 150px;
}

.place-card p {
  margin: 0;
  border: 0;
}

.place-card p {
  margin: 0;
  border: 0;
}

.travel {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.bottom {
  margin-top: auto;
}
